.new,nav{
    
    color: rgb(234, 238, 241);
   font-size:10px;
   height:30px;
   background-color: rgb(23, 24, 22);
   
width: auto;


}
.new{
    padding-bottom: 17px;
    text-align: center;
 

}
svg{

 margin-left: 500px;

}
 
select{
   
    color: aliceblue;
    background-color: black;
 float: right;
 border-color: none;
}
.nav1{

   border: 1px solid black;
   height: 100px;
   margin-top: 0px;
   background-color:#191e49;

}
.button,button{

  float: right;

  margin-top: 30px;
  width: 150px;
  margin-right: 1050px;
}
.close_banner_img{
    margin-left: 300px;
margin-top: 30px;
}
.nav1.hd,h1{
    margin-left: 500px; 
    padding-top:10px ;
}

.para1,p{
    margin-left: 55px;
 font-family: cursive;
 background-color: #191e49;
}
.container-fluid{
margin-right: 10px;
}

body{
    background-image: url(2.jpg);
  
  image-orientation:initial;
  background-repeat: no-repeat;
  background-size: 100vw;
}
 .bor,input{
    margin-left: 550px;
    margin-top: 50px;
    height:45px;
    width:350px;
 
} 


.input-group{
    padding: 12px;

}


.hig,li,a{
 text-decoration: none;

  list-style: none;
}

.col{
     font-size:10px;
}
.text-warning{
     font-size: 10px;
}

 .footer,p{
      background-color: black;
      color: aliceblue;
      font-size: small;
      font-family: 'Times New Roman', Times, serif;
 }

 .fld-risk-waring {
    border: 2px solid seashell;
}
h5{

    font-size: xx-large;
    text-align: center;
    color: orange;
    margin-right: 150px;
}
.clear-fix{
    border:1px solid orange;
    height:90px;
    width: 800px;
    margin-left: 350px;
    background-color:#f77a22;
    border-radius: 8px ;
    padding-top:15px;
    padding-left: 20px;
    margin-bottom: 100px;
    padding-bottom: 15px;
   

}
 input{
height:65px;
border-radius: 9px ;
 }
.button1,button {
background-color: #191e49;
color: white;
width: 400px;
height: 65px;
border-radius:8px ;
text-align: center;


 }
.clear-fix,button{
    padding-right: 20PX;

}
h3{
    padding-bottom: 50px;
}
h1{
   padding-bottom: 25px;
   color:#191e49;
   font-size: 300px;
}
.para,p {
    text-align: center;
    font-size: 45px;
    color:black;
    background-color: white;
}
.input-group{
    border: 1px solid gray;
    font-size: small;
}